<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">

    <p>
      I recently graduated from 
      <a class="underline-link" href="http://www.mit.edu/" target="_blank">Massachusetts Institute of Technology</a> with a Bachelor of Science in 
      <a class="underline-link" href="https://www.eecs.mit.edu/" target="_blank">Electrical Engineering and Computer Science</a>. 
      In college, I completed software engineering internships at
      <a class="underline-link" href="https://africastalking.com/" target="_blank">Afica's Talking</a>,
      <a class="underline-link" href="https://www.intuit.com/" target="_blank">Intuit</a>, and
      <a class="underline-link" href="https://www.goldmansachs.com/" target="_blank">Goldman Sachs</a>. 
    </p>

    <p>
        I'm currently software engineer at
        <a class="underline-link" href="https://hubspot.com/" target="_blank">HubSpot</a> building systems and automation for running and monitoring thousands of microservices that make up HubSpot on Amazon Web Services and Google Cloud.
        As a software engineer, I aim to always build systems and platforms that are highly scalable, reliable, efficient, and fault tolerant while providing a great experience for developers building applications on top of the infrastructure.  
      </p>

    <p>
      I was born and raised in <strong>Kenya</strong> and I'm interested in any technology-related work in <strong>Africa</strong>. 
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
